<div class="btn-group" style="width: 100%" role="group">
  <button
    type="button"
    value="1"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    1
  </button>
  <button
    type="button"
    value="2"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    2
  </button>
  <button
    type="button"
    value="3"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    3
  </button>
  <button
    type="button"
    value="4"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    4
  </button>
</div>

<div class="btn-group" style="width: 100%" role="group">
  <button
    type="button"
    value="5"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    5
  </button>
  <button
    type="button"
    value="6"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    6
  </button>
  <button
    type="button"
    value="7"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    7
  </button>
  <button
    type="button"
    value="8"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    8
  </button>
</div>
