:root {
  /* --main-bg-color: coral; */
  /* --main-txt-color: blue; */
  /* --main-padding: 15px; */
  /* --primary: #BB86FC; */
  /* --secondary: #03DAC5; */
  --darker: #222831;
  --dark: #30475e;
  --light: #F05454;
  --lighter: #DDDDDD;

  --bg-primary: #121212;
  --bg-secondary: #212121;
  --primary-border: 1px solid #333333;
  /* --cashdog-blue: #00A8FF; */
  /* --error: #CF6679; */
  /* --bg-base: #000000; */
  --font-primary: #FFFFFF;
  --font-style: Verdana, Geneva, sans-serif;
  /* --medium-emphasis: 0.6; */
}

body {
  background-color: var(--bg-primary);
  color: var(--font-primary);
  font-family: var(--font-style);
  font-size: 12px;
}

.card-header {
  background-color: var(--bg-secondary);
}

.card {
  border: var(--primary-border);
  background-color: var(--bg-secondary);
}

#main-card-header {
  border: var(--primary-border);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.select-holder {
  text-align: center;
  padding: 10px 0px;
}

#venue-select, #chart-select {
  color: var(--font-primary);
  margin: 0px;
}

.dropdown-item {
  color: var(--font-primary);
  margin-top: 10px;
}

#navbarToggleExternalContent {
  background-color: var(--bg-secondary);
  margin-bottom: 10px
}

#username-span {
  font-size:1em;
  font-weight: bold;
}

.navbar {
  padding: 10px 0;
}

.navbar-brand {
  margin-left: 8px;
}
.upload-input {
}


#chart-select{
  font-weight: bold;
  /* background-image: linear-gradient(var(--cashdog-blue), var(--bg-secondary)); */
  background-color: var(--bg-secondary);
  text-align: center;
  border: var(--primary-border);
}

#date_header {
  font-size: 1.6em;
  margin:auto;
  font-style: italic;
  font-weight: bold;
}


.race-table-row>td {
  width: 15vw;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  border: none;
}

.dog-name-span {
  font-size: .6em;
  display:block;
}



#header-table {
  display: none;
  width: 100vw;
  margin-left: 20px;
}

.fade-in {
  animation-name: FadeIn;
  animation-duration: 1s;
  transition-timing-function: linear;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header-table td {
  width: 20%;
  padding: 0px;
  margin-left:10px

}

#empty-charts-div {
  text-align: center;
  padding: 50px;
}

#bets {
  width: 90%;
  margin: auto;
  scrollbar-width: none;
}

#bets::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.race-number-cell {
  font-size: 1em;
}

.modal-subtitle {
  font-size: 1.5em;
  margin: 20px;
}

.large-modal-body {
  height: 80vh;
}

.small-modal-body {
  height: 80vh;
}

#modal-form {
  text-align: right;

}


.two-factor {
  text-align: left;
}

.modal-select-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between
}

.modal-select {
  margin: 20px;
  /* display: flex;
  flex-flow: column nowrap;
  justify-content:space-around;
  align-items: left;
  margin:30px; */


}

.modal-footer {
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.modal-bet-selector {
  background-color: #222;
  color:inherit;
  width: 200px;
  height: 40px;
  font-size: 1.75em;
  /* padding: 0px 10px; */
}

.bet_amount_dollar {
  font-size:2em;
}

#participant_uuid {
  display:none;
}


.exotic-wager-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: middle;
  background-color: inherit;
  line-height: 100%;
  color: white;
}

.exotic-wager-span {
  padding: 10px;
  font-size: 1.25em
}

.exotic-delete-button {
  height: 100%;
  padding: 3px auto;
}

#amount_input, #exotic_amount_input {
  background-color: #222;
  color: inherit;
  width: 60px;
  height: 40px;
  font-size: 2em;
  text-align:right;
  padding-right: 6px;
}

#loader-gif {
  display: block;
  margin: 150px auto;
}

#main-table {
   table-layout: fixed;
   width:100%;
}


#main-table td {
  border: none;
  width: 20vw;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
}

p label {
  width: 25%;
}

p input {
  width: 70%;
  vertical-align: top;
}

.bet-button, .quick-bet-btn {
  height: 47px;
  margin: 0px;
}
