:root {
  --main-bg-color: coral;
  --main-txt-color: blue;
  --main-padding: 15px;
  --primary: #BB86FC;
  --seconday: #03DAC5;
  --bg-primary: #121212;
  --bg-secondary: #212121;
  --cashdog-blue: #00A8FF;
  --error: #CF6679;
  --bg-base: #000000;
  --font-primary: #FFFFFF;
  --font-style: Verdana, Geneva, sans-serif;
  --medium-emphasis: 0.6;
}

body {
  background-color: var(--bg-primary);
  color: var(--font-primary);
  font-family: var(--font-style);
  font-size: 12px;
}

.card-header {
  background-color: var(--bg-secondary);
}

.date_arrow {
  display: inline;
}

#main-card-header {
  border: 1px solid #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.select-holder {
  text-align: center;
  padding: 15px 0px;
}

#venue-select, #chart-select {
  color: var(--font-primary);
  margin: 0px;
}

.dropdown-item {
  color: var(--font-primary);
}

#navbarToggleExternalContent {
  background-color: var(--bg-secondary);
  margin-bottom: 10px
}

#username-span {
  font-size:1em;
  font-weight: bold;
}

.navbar {
  padding: 10px 0;
}

.navbar-brand {
  margin-left: 8px;
}
.upload-input {
}


#chart-select{
  font-weight: bold;
  /* background-image: linear-gradient(var(--cashdog-blue), var(--bg-secondary)); */
  background-color: var(--bg-secondary);
  text-align: center;
  border: 1px solid #333;
}

#date_header {
  font-size: 1.6em;
  margin:auto;
  font-style: italic;
  font-weight: bold;
}


.race-table-row>td {
  width: 15vw;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  border: none;
}

.dog-name-span {
  font-size: .6em;
  display:block;
}



#header-table {
  display: none;
  width: 100vw;
  margin-left: 20px;
}

.fade-in {
  animation-name: FadeIn;
  animation-duration: 1s;
  transition-timing-function: linear;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header-table td {
  /* width:15vw; */
  padding: 0px 4px;
  margin-left:10px

}

#empty-charts-div {
  text-align: center;
  padding: 50px;
}

#bets {
  width: 100%;
  scrollbar-width: none;
}

#bets::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


.race-info-cell {
  border-right: 1px solid #222;
}

.race-number-cell {
  font-size: 2em;
}

.modal-subtitle {
  font-size: 1.25em;
}

.modal-body {
  height: 50vh;
}

.modal-select {
  border: 1px solid red;
  margin: 30px 0px 30px 30px
  /* display: flex;
  flex-flow: column nowrap;
  justify-content:space-around;
  align-items: left;
  margin:30px; */


}

.modal-bet-selector {
  background-color: #222;
  color:inherit;
  width: 150px;
  height: 40px;
  font-size: 1.75em;
  /* padding: 0px 10px; */
}

.bet_amount_dollar {
  font-size:2em;
}

#participant_uuid {
  display:none;
}

#amount_input {
  background-color: #222;
  color: inherit;
  width: 100px;
  height: 40px;
  font-size: 2em;
  text-align:center;
}

#loader-gif {
  display: block;
  margin: 50px auto;
}

table {
   table-layout: fixed;
   width:100%;
}
