:root {
  --main-bg-color: coral;
  --main-txt-color: blue;
  --main-padding: 15px;
  --primary: #BB86FC;
  --seconday: #03DAC5;
  --bg-primary: #121212;
  --bg-secondary: #212121;
  --cashdog-blue: #00A8FF;
  --error: #CF6679;
  --bg-base: #000000;
  --font-primary: #FFFFFF;
  --font-style: Verdana, Geneva, sans-serif;
  --medium-emphasis: 0.6;
}

body {
  background-color: var(--bg-primary);
  color: var(--font-primary);
  font-family: var(--font-style);
  font-size: 12px;
  margin: 0 auto;
}

nav {
  background-color: var(--bg-primary);
}
.main-content {
    padding: 10px;
}

.card {
  background-color: inherit;
}

.card-header {
  background-color: var(--bg-secondary);
}

#venue-select, #chart-select {
  background-color: var(--bg-primary);
  color: var(--font-primary);
  text-align: center;
  margin: 10px 0px;
}

h1 {
  font-size: 2em;
}

.dropdown-item {
  color: var(--font-primary);
}

#navbarToggleExternalContent {
  background-color: var(--bg-secondary);
}
