{% extends "_base.html" %}

{% load static %}


{% block content %}
<div class="card">
  <div
    class="card-header card-header-standout text-center"
    style="font-size: 1.6em; margin:auto; font-style: italic; font-weight: bold">
    Analysis
  </div>
  <div class="card-body">
    <div
      style="display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: middle">
      <div id="select-container" class="btn-group" role="group">
         <button
          id="btnGroupDrop1"
          type="button"
          class="btn btn-outline-primary btn-sm dropdown-toggle"
          style="margin-bottom: 8px;"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >
           All Venues
         </button>
         <ul
          id="dropdown-container"
          class="dropdown-menu"
          style="background-color: #212121;"
          aria-labelledby="btnGroupDrop1">
         </ul>
        </div>


        <!--
         <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" style="margin-bottom: 8px; " data-bs-toggle="dropdown" aria-expanded="false">
           All Venues
         </button>
         <ul class="dropdown-menu" style="background-color: #212121;" aria-labelledby="btnGroupDrop1">
           {% for venue in venues %}
           <li><a class="dropdown-item venue-select" href="#" data-value="{{ venue.code }}">{{ venue.name }}</a></li>
           {% endfor %}

         </ul>
         -->


     <div
      class="btn-group"
      role="group"
      style="text-align:right"
      aria-label="Basic radio toggle button group">
      <input
        type="radio"
        class="btn-check date_select_input"
        name="btnradio"
        value="{{ yesterday_date }}"
        id="btnradio1"
        autocomplete="off"
        checked>
      <label
        class="btn btn-outline-primary btn-sm"
        for="btnradio1">
        {{ yesterday }}
      </label>
      <input
        type="radio"
        class="btn-check date_select_input"
        name="btnradio"
        value="{{ last_week }}"
        id="btnradio2"
        autocomplete="off">
      <label
        class="btn btn-outline-primary btn-sm"
        for="btnradio2">
        Week
      </label>
      <input
        type="radio"
        class="btn-check date_select_input"
        name="btnradio"
        value=""
        id="btnradio3"
        autocomplete="off"
        disabled>
      <label
        class="btn btn-outline-primary btn-sm"
        for="btnradio3">
        Month
      </label>
     </div>


    </div>

    <div id="canvas-container" style="display:none; margin: 30px auto;">
      <canvas id="chart-1" style="max-width:48%; display:inline;"></canvas>
      <canvas id="chart-2" style="max-width:48%; display:inline;"></canvas>
    </div>

    <div
      id="empty-content"
      class="empty-content"
      style="margin: 50px auto; text-align:center; width: 100%; display: none">
      No Bets Today
    </div>


  </div>
</div>
<script id="json-chart-data" type="application/json">
  {
    "get_bets_url": "{% url 'get_bets' %}",
    "get_venue_bets_url": "{% url 'get_venue_bets' %}"
  }
</script>

<script>

  const venue_names = {
    "SL": "Southland",
    "WD": "Wheeling Downs",
    "TS": "Tri-state"
  }
  const text_content = document.getElementById("json-chart-data").textContent
  const json_data = JSON.parse(text_content)
  const venues = ["SL", "TS", "WD"]
  const venue_select = document.getElementsByClassName("venue-select")
  const button_checks = document.getElementsByClassName("btn-check")

  function get_anchor_element(venue_code, venue_name) {
    console.log('Need ths')
    console.log(venue_name)
    const anchor_element = document.createElement('a');
    anchor_element.setAttribute("class", "dropdown-item venue-select");
    anchor_element.setAttribute("href", "#");
    anchor_element.setAttribute("data-value", venue_code);
    anchor_element.innerText = venue_name;
    return anchor_element;
  }

  function get_selected_date() {
      const date_select_inputs = document.getElementsByClassName("date_select_input")
      for (let i=0; i< date_select_inputs.length; i++) {
        if (date_select_inputs[i].checked) {
          return date_select_inputs[i].value
        }
      }
  }

  function handle_venue_select(e) {
    const target = e.target
    const venue_code = target.getAttribute("data-value");
    document.getElementById("btnGroupDrop1").textContent = target.textContent;
    if (venue_code) {
      get_venue_bets(venue_code)
    } else {
      get_bets(get_selected_date())
    }
  }

  function get_venue_bets(venue_code) {
    $.ajax({
      url: json_data["get_venue_bets_url"],
      dataType: "json",
      data: {
        "venue_code": venue_code,
        "date": get_selected_date(),
      },
      success: function(data) {
        console.log(data["raw_win"])
        build_chart("chart-1", data["types"], data["profits"], "Total Profits")
        build_chart("chart-2", data["types"], data["averages"], "Profit Per Bet")
      }
    })
  }

  get_bets(get_selected_date())
  addEventListeners()

  function populate_menu_dropdown(venues) {
    dropdown_container = document.getElementById("dropdown-container")
    dropdown_container.innerHTML = "";
    document.getElementById("btnGroupDrop1").disabled = false;
    for (let i=0; i<venues.length; i++) {
      const new_li = document.createElement("li");
      new_li.appendChild(get_anchor_element(venues[i], venue_names[venues[i]]));
      new_li.addEventListener("click", handle_venue_select)
      dropdown_container.appendChild(new_li);
    }
    const new_li = document.createElement("li");
    new_li.appendChild(get_anchor_element("", "All Venues"));
    new_li.addEventListener("click", handle_venue_select)
    dropdown_container.appendChild(new_li);
  }


  function get_bets(date) {
    $.ajax({
      url: json_data["get_bets_url"],
      dataType: "json",
      data: {"date": date},
      success: function(data) {
        if (data["venues"].length > 0) {
          document.getElementById("empty-content").style.display = "none";
          document.getElementById("canvas-container").style.display = "";
          populate_menu_dropdown(data["venues"]);
          build_chart("chart-1", data["venues"], data["profits"], "Total Profits")
          build_chart("chart-2", data["venues"], data["averages"], "Profit Per Bet")
        }
      }
    })
  }

  function getBackgroundColors(list) {
    colors = []

    for (let i=0; i<list.length; i++) {
      if (list[i] < 0) {
        colors.push('rgba(255, 99, 132, 0.2)')
      } else {
        colors.push('rgba(75, 192, 192, 0.2)')
      }
    }
    return colors
  }

  function getBorderColors(list) {
    colors = []

    for (let i=0; i<list.length; i++) {
      if (list[i] < 0) {
        colors.push('rgba(255, 99, 132, 1)')
      } else {
        colors.push('rgba(75, 192, 192, 1)')
      }
    }
    return colors
  }



  function addEventListeners() {
    for (let i=0; i<button_checks.length; i++) {
      button_checks[i].addEventListener("click", handle_time_select)
    }
  }

  function handle_time_select(e) {
    console.log("triggered")
    console.log(e.currentTarget)

    const selected_venue = document.getElementById("btnGroupDrop1").innerText
    console.log(selected_venue)
    console.log("---")
    if (selected_venue == "All Venues ") {
      console.log('257')
      get_bets(e.currentTarget.value)
    } else {
      console.log("get venue bets")
    }
    // $.ajax({
    //   url: json_data["get_bets_url"],
    //   dataType: "json",
    //   data: {"date": "2022-05-15"},
    //   success: function(data) {
    //     console.log("YEAH")
    //
    //   }
    // })

  }

  function build_chart(chart_id, xValues, yValues, title) {
    let chartStatus = Chart.getChart(chart_id);
    if (chartStatus != undefined) {
      chartStatus.destroy();
    }

    const ctx = document.getElementById(chart_id).getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: xValues,
            datasets: [{
                label: 'Profit',
                data: yValues,
                backgroundColor: getBackgroundColors(yValues),
                borderColor: getBorderColors(yValues),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false,

                },
                title: {
                display: true,
                text: title
            }
            }

        },

    });
  }





</script>

{% endblock content %}
