{% extends "_base.html" %}

{% load static %}


{% block content %}
<div class="card">
<div class="card-header card-header-standout text-center"
style="font-size: 1.6em; margin:auto; font-style: italic; font-weight: bold">
Analysis
</div>
<div class="card-body">
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: middle">
  <div class="btn-group" role="group">
     <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" style="margin-bottom: 8px; " data-bs-toggle="dropdown" aria-expanded="false">
       All Venues
     </button>
     <ul class="dropdown-menu" style="background-color: #212121;" aria-labelledby="btnGroupDrop1">
       <li><a class="dropdown-item venue-select" href="#" data-value="SL">Southland</a></li>
       <li><a class="dropdown-item venue-select" href="#" data-value="TS">Tri-State</a></li>
       <li><a class="dropdown-item venue-select" href="#" data-value="WD" selected>Wheeling Downs</a></li>
       <!-- <div class="dropdown-divider"></div>
       <li><a class="dropdown-item venue-select" href="#" data-value="All">All Venues</a></li> -->
     </ul>
   </div>

  <div class="btn-group" role="group" style="text-align:right" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check date_select_input" name="btnradio" value="{{ yesterday_date }}" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-primary btn-sm" for="btnradio1">{{ yesterday }}</label>
    <input type="radio" class="btn-check date_select_input" name="btnradio" value="" id="btnradio2" autocomplete="off" disabled>
    <label class="btn btn-outline-primary btn-sm" for="btnradio2">Week</label>
    <input type="radio" class="btn-check date_select_input" name="btnradio" value="" id="btnradio3" autocomplete="off" disabled>
    <label class="btn btn-outline-primary btn-sm" for="btnradio3">Month</label>
  </div>
  </div>




<div id="chart-1" style="width:100%;max-width:600px; height: 300px; display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center">
  <img
    id="graph-preloader"
    src="{% static 'img/graph-preloader.gif' %}"
    class="center"
    height="150px"
    alt="spinner-gif">
    <canvas id="myChart" width="400px" height="200px" style="display:none"></canvas>

</div>
</div>
</div>
<script id="json-chart-data" type="application/json">
  {
    "get_bets_url": "{% url 'get_bets' %}",
    "get_venue_bets_url": "{% url 'get_venue_bets' %}"
  }
</script>

<script>
  assign_event_listeners()
  build_chart("myChart")

  function assign_event_listeners() {
    const venue_select = document.getElementsByClassName("venue-select")
    for (let i=0; i<venue_select.length; i++) {
      venue_select[i].addEventListener("click", handle_venue_select)
    }
  }

  function get_selected_date() {
      const date_select_inputs = document.getElementsByClassName("date_select_input")
      for (let i=0; i< date_select_inputs.length; i++) {
        if (date_select_inputs[i].checked) {
          return date_select_inputs[i].value
        }
      }
  }

  function handle_venue_select(e) {
    const target = e.currentTarget
    const venue_code = target.getAttribute("data-value");
    document.getElementById("btnGroupDrop1").textContent = target.textContent;
    //
    // console.log("here o")
    // console.log()
    //
    $.ajax({
      url: json_data["get_venue_bets_url"],
      dataType: "json",
      data: {
        "venue_code": venue_code,
        "date": get_selected_date(),
      },
      success: function(data) {
        build_chart("Profit by Bet Type", data["types"], data["profits"], "chart-1")

      }
    })

  }

  function build_chart(chart_id) {
    let chartStatus = Chart.getChart(chart_id);
    console.log("ok")
    console.log(chartStatus)
    if (chartStatus != undefined) {
      chartStatus.destroy();
    }

    document.getElementById("graph-preloader").remove()
    document.getElementById(chart_id).style.display = "";
    const ctx = document.getElementById(chart_id);
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
  }





</script>

{% endblock content %}
