{% extends 'bet_table.html' %}


{% block table_head %}
<td
class="race-info-cell"
style="vertical-align: middle; height: 100%; width: 20%; paddding: 0"
colspan="5">
<button
  data-toggle="modal"
  data-target="#exotic-modal"
  data-race="{{ race.uuid }}"
  data-venue="{{ race.chart.program.venue.code }}"
  data-time="{{ race.chart.get_time_display }}"
  data-number="{{ race.number }}"
  class="btn btn-sm btn-block btn-outline-primary exotic-bet bet-button">
  <span class="race-number-cell">
    Race {{ race.number }}  </span>

</button>

<div id="exotic-wagers-{{ race.uuid }}">
{% for wager in race.get_exotic_bets %}

  <div id="{{ wager.uuid }}-wager-div" class="list-group-item exotic-wager-item">
    <span class="exotic-wager-span">${{ wager.amount }} {{ wager.get_name }} {{ wager.get_posts }}</span>
    <button
      type="button"
      class="btn btn-sm btn-outline-danger float-right exotic-delete-button"
      onclick=handle_exotic_delete("{{ wager.uuid }}")>
      &#10005;
    </button>
  </div>
{% endfor %}
</div>

{% endblock table_head %}

{% block table_data %}
<td>
  {{ participant.post }}
  <span
  class="dog-name-span">
  {{ participant.dog.name|truncatechars:13 }}
</span>
</td>
<td>
  {% block prediction_button %}
  {% endblock prediction_button %}
</td>
<td id="{{ participant.uuid }}-win-td">
  {% if participant.get_win_bet %}
  {% block win_button %}
  {% endblock win_button %}
  {% endif %}
</td>
<td id="{{ participant.uuid }}-place-td">
  {% if participant.get_place_bet %}
  {% block place_button %}
  {% endblock place_button %}
  {% endif %}
</td>
<td id="{{ participant.uuid }}-show-td">
  {% if participant.get_show_bet %}
  {% block show_button %}
  {% endblock show_button %}
  {% endif %}
</td>
{% endblock table_data %}
