{% extends 'bet_table.html' %}


{% block table_data %}
{% if forloop.first %}
<td
rowspan="0"
class="race-info-cell"
style="vertical-align: top;">
<button
  data-toggle="modal"
  data-target="#exotic-modal"
  data-race="{{ race.uuid }}"
  class="btn btn-sm btn-block btn-outline-primary exotic-bet"
  disabled>
  <span class="race-number-cell">
    {{ race.number }}
  </span>
  <br/>
  <span>{{ race.grade.name }}</span>
</button>
<!-- <button
  data-toggle="modal"
  data-target="#exotic-modal"
  data-race="{{ race.uuid }}"
  class="btn btn-sm btn-block btn-outline-primary exotic-bet">
  <span>TRI BOX</span><br/>
  <span><small>$2 3/4/5</small></span>
</button> -->
</td>
{% endif %}
<td>
  {{ participant.post }}
  <span
  class="dog-name-span">
  {{ participant.dog.name|truncatechars:9 }}
</span>
</td>
<td>
  {% block prediction_button %}
  {% endblock prediction_button %}
</td>
<td id="{{ participant.uuid }}-win-td">
  {% if participant.get_win_bet %}
  {% block win_button %}
  {% endblock win_button %}
  {% endif %}
</td>
<td id="{{ participant.uuid }}-place-td">
  {% if participant.get_place_bet %}
  {% block place_button %}
  {% endblock place_button %}
  {% endif %}
</td>
<td id="{{ participant.uuid }}-show-td">
  {% if participant.get_show_bet %}
  {% block show_button %}
  {% endblock show_button %}
  {% endif %}
</td>
{% endblock table_data %}
