<div class="modal fade" id="bet-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bet-modalLabel" style="color: black">

          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="modal-subtitle" style="color: black; font-size: 1.25em"></span>

          <div style="display: flex; flex-flow: row nowrap; margin-top:10px">
              <select name="bet_type" id="bet_types" style="height:34px; font-size:1.2em">
                <option value="W">WIN</option>
                <option value="P">PLC</option>
                <option value="S">SHW</option>
                <option value="WP">WP</option>
                <option value="WPS">WPS</option>

              </select>

              <span style="font-size:1.5em; color:black; line-height: 100%; margin:10px 5px 10px 10px; vertical-align:middle">$</span>
              <span id="participant_uuid" style="display:none"></span>
              <input
                id="amount_input"
                type="number"
                name="amount"
                min="1"
                max="100"
                value="2">
          </div>

          <div class="modal-footer">
            <button id="submit_bet" type="button" class="btn btn-success" onclick="make_bet()" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="json-data" type="application/json">
  {
    "bets_url": "{% url 'make_bet' %}"
  }
</script>

<script>


make_bet = () => {
  text_content = document.getElementById("json-data").textContent
  participant_id = document.getElementById("participant_uuid").textContent
  json_data = JSON.parse(text_content)
    $.ajax({
      url: json_data["bets_url"],
      dataType: "json",
      data: {
        "amount": document.getElementById("amount_input").value,
        "participant_id": participant_id,
        "bet_types": document.getElementById("bet_types").value
      },
      success: function(data) {
        // console.log(data)
        // console.log(typeof data)
        // console.log(data["enabled"])
        // console.log(data["bets"])
        button = document.createElement("button")
        button.setAttribute("class", "btn btn-sm btn-outline-success float-right")
        span = document.createElement("span")
        span.setAttribute("style", "font-weight:bold")
        span.textContent= data["bets"]
        button.appendChild(span)
        button.disabled = data["enabled"]
        // console.log(span)
      $("#" + participant_id + "-bet").html(button);
      }
    })
  }
</script>
