<div class="modal fade" id="bet-modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: #111">
        <div class="modal-header">
          <h5 class="modal-title" id="bet-modalLabel" style="color: white">

          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"; style="color: white">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="modal-subtitle" style="font-size: 1.25em"></span>
          <form action="{% url 'make_bet' %}" method="post">
          <div style="display: flex; flex-flow: row nowrap; justify-content:space-around; margin:10px 40px; padding: 0px;">
              <select name="bet_type" id="bet_types" style="background-color: #222; color:inherit; margin: 0px; width: 100px; font-size:1.2em; padding: 0px 10px">
                <option value="W">WIN</option>
                <option value="P">PLC</option>
                <option value="S">SHW</option>
                <option value="WP">WP</option>
                <option value="WPS">WPS</option>
                <option value="PS">PS</option>

              </select>
              <div>
              <span style="font-size:1.5em; line-height: 100%; margin:10px 5px 10px 10px; vertical-align:middle">$</span>
              <span id="participant_uuid" style="display:none"></span>
              <input
                id="amount_input"
                type="number"
                name="amount"
                min="1"
                max="1000"
                value="2"
                style="background-color: #222; color: inherit; width: 75px; text-align:center;">
              </div>
          </div>

          <div class="modal-footer">
            <button id="clear_bet" type="button" class="btn btn-danger" onclick="" data-dismiss="modal" disabled>Clear</button>
            <button id="submit_bet" type="button" class="btn btn-outline-success" onclick="make_bet()" data-dismiss="modal">Save</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  make_bet = () => {
    // text_content = document.getElementById("json-data").textContent
    participant_id = document.getElementById("participant_uuid").textContent
    //console.log(participant_id)
    json_data = JSON.parse(text_content)
    //console.log(json_data)
    //console.log(document.getElementById("amount_input").value)
    //console.log(json_data["make_bets_url"])
    $.ajax({
      url: json_data["make_bets_url"],
      dataType: "json",
      data: {
        "amount": document.getElementById("amount_input").value,
        "participant_id": participant_id,
        "bet_types": document.getElementById("bet_types").value
      },
      success: function(data) {
        //console.log("success")
        button = document.createElement("button")
        span = document.createElement("span")
        span.setAttribute("style", "font-weight:bold")
        button.appendChild(span)
        button.disabled = !data["enabled"]
        if (data["bets"]) {
          button.setAttribute("class", "btn btn-sm btn-outline-success float-right")
          span.textContent= data["bets"]
        } else {
          button.setAttribute("class", "btn btn-sm btn-outline-light float-right")
          span.textContent= data["none"]
        }

      $("#" + participant_id + "-bet").html(button);
      }
    })
  }
</script>
