{% load static %}


  <div class="card-header" id="daily_bet_table" style="display:none"></div>
  <!-- <div class="card-body">


  </div> -->

<div class="cards-body">
{% if charts|length %}

  <div id= "charts-holder" class="select-holder" style="text-align: center">
    <select
      class="form-control frontpage-select"
      id="chart-select">
      {% for chart in charts %}
        <option value="{{ chart.uuid }}">
          <span >
            {{ chart.program.venue.kiosk_name }}_{{ chart.kiosk_time }}
          </span>
        </option>
      {% endfor %}
    </select>
  </div>



  <table
    class="table table-sm table-borderless"
    style="background-color:inherit;"
    id="bets_table">
    <th></th>
    <th></th>
    <th>W</th>
    <th>P</th>
    <th>S</th>
    <tbody id="bets" style="max-height: 100%">

</tbody>


  </table>
{% else %}
<div style="text-align: center; padding: 50px">
No Charts Found
</div>
{% endif %}

{% block extra %}
{% endblock extra %}
</div>
