{% extends '_base.html'%}
{% load static %}

{% block content %}

  <div class="card-header" style="border: 1px solid #333; display: flex; flex-flow: row nowrap; justify-content: space-between">
    <a class="btn btn-small" href="{% url 'frontpage' %}?date={{ previous }}">
      <img
        src="{% static 'img/back.png' %}"
        style="display:inline"
        height=20
        class="float-left"
        alt="back-icon">
    </a>
    <span id="date_header" class="text-center" style="font-size: 1.6em; margin:auto; font-style: italic; font-weight: bold">
      {{ date_header }}
    </span>
    <button class="btn btn-small" disabled>
      <img
        src="{% static 'img/forward.png' %}"
        style="display:inline"
        height=20
        class="float-left"
        alt="back-icon">
    </button>
  </div>
  {% block daily_content %}
  {% endblock daily_content %}

  {% block scripts %}
  {% endblock scripts %}

{% endblock content %}





<!--
{% block daily_content %}
{% include 'betmodal.html' %}
  {{ is_past }}
  {% if charts|length %}
    <div class="select-holder">
      <select
        class="form-control frontpage-select"
        id="chart-select"
        onchange="load_bets();">
        {% for chart in charts %}
          <option value="{{ chart.uuid }}">
            <span >
              {{ chart.program.venue.kiosk_name }}_{{ chart.kiosk_time }}
            </span>
          </option>
        {% endfor %}
      </select>
    </div>
    <div style="height: 65vh; overflow-y:scroll;">
      <table
      id="bets_table"
      class="table table-sm table-borderless" >
      <tbody id="bets" style="max-height: 100%"></tbody>
    </table>
  </div>
  {% else %}
    <div style="text-align: center; padding: 50px">
      No Charts Found
    </div>
  {% endif %}

{% endblock daily_content %}

{% block scripts %}
  <script
    id="json-chart-data"
    type="application/json">
    {
      "bets_url": "{% url 'load_bets' %}",
      "results_url": "{% url 'results' %}"
    }
  </script>

  <script src="{% static 'js/frontpage.js' %}"></script>
{% endblock scripts %} -->
