{% extends '_base.html'%}

{% block content %}
<!-- <div class="card-header">
Arff Data
</div>



<form action="{% url 'downloads' %}" method="post">
  {% csrf_token %}
  <div class="card-body">
    {% for filename in filenames %}
    <div class="form-check" style="margin-bottom:5px">
      <input
        class="form-check-input"
        type="checkbox"
        value="{{ filename }}"
        name="files"
        id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        {{ filename }}
      </label>
    </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-outline-success">Download</button>
</form> -->
{% endblock content %}
