{% load static %}

<div
  class="modal fade"
  id="exotic-modal"
  tabindex="-1"
  role="dialog"">
    <div
      class="modal-dialog"
      role="document">
      <div
        class="modal-content"
        style="background-color: #111">
        {% include 'modal_components/header.html' %}
        <div class="small-modal-body">
          <form
            action="{% url 'make_exotic_bet' %}"
            method="post"
            id="modal-exotic-form">
            <div style="display: flex; flex-flow: row nowrap; justify content: space-between">
            <select
              name="bet_type"
              id="exotic_bet_types"
              class="modal-select modal-bet-selector pull-right">
              <option value="Q">Quiniela</option>
              <option value="E">Exacta</option>
              <option value="T">Trifecta</option>
              <option value="S">Superfecta</option>
            </select>
            {% include 'modal_components/bet_amount.html' %}
            </div>
            {% include "modal_components/post_select.html" %}
            {% include "modal_components/finish_order.html" %}
            {% include 'modal_components/footer.html' with exotic=True %}
          </form>
        </div>
    </div>
</div>

<script
  id="exotic-bet-modal-data"
  type="application/json">
  {
    "make_exotic_bet_url": "{% url 'make_exotic_bet' %}"
  }
</script>


<script src="{% static 'js/exotic_modal.js' %}"></script>
