{% load static %}

<div
  class="modal fade"
  id="exotic-modal"
  tabindex="-1"
  role="dialog"">
    <div
      class="modal-dialog"
      role="document">
      <div
        class="modal-content"
        style="background-color: #111">
        {% include 'modal_components/header.html' %}
        <div class="large-modal-body">
          <form
            action="{% url 'make_exotic_bet' %}"
            method="post"
            id="modal-exotic-form">
            <div class="modal-select-container">
              <select
                name="bet_type"
                id="exotic_bet_types"
                class="modal-select modal-bet-selector pull-right">
                <option value="Q">Quinella</option>
                <option value="E">Exacta</option>
                <option value="T">Trifecta</option>
                <option value="S">Superfecta</option>
                <option value="TB">Trifecta Box</option>
                <option value="SB">Superfecta Box</option>
              </select>
              <div
                class="modal-select">
                <span class="bet_amount_dollar pull-right">$</span>

                <input
                  id="exotic_amount_input"
                  type="number"
                  name="amount"
                  min="1"
                  max="100"
                  value="2">
              </div>

            </div>
            {% include "modal_components/post_select.html" %}
            {% include "modal_components/finish_order.html" %}
          </form>
          <br/>
          {% include 'modal_components/footer.html' with exotic=True %}
        </div>
    </div>
</div>

<script src="{% static 'js/exotic_modal.js' %}"></script>
