{% extends '_base.html'%}
{% load static %}
{% block content %}
<div class="card-header" style="border: 1px solid #333; ">
  <span id="date_header" class="text-center" style="font-size: 1.6em; font-style: italic; font-weight: bold">
    {{ date_header }}
  </span>
  <span class="float-right" style="height: 25px; padding-top:3px;">
    <input
      id="target_date"
      type="date"
      data-date="{{ datestring }}"
      name="date"
      onchange="handler(event);"
      class="btn-outline-light"
      value="date"
      style="padding-top: 3px; border: none;">
  </span>





  </div>
    {% if charts|length %}
    <div id= "charts-holder" class="select-holder">
      <select
        class="form-control frontpage-select"
        id="chart-select" onchange="load_bets();">
        {% for chart in charts %}
          <option value="{{ chart.uuid }}">
            <span >
              {{ chart.program.venue.kiosk_name }}_{{ chart.kiosk_time }}
            </span>
          </option>
        {% endfor %}
      </select>
    </div>
    <div style="height: 65vh; overflow-y:scroll;">
      <table
      id="bets_table"
      class="table table-sm table-borderless" >
      <tbody id="bets" style="max-height: 100%"></tbody>
    </table>
  </div>
    {% else %}
    <div style="text-align: center; padding: 50px">
    No Charts Found
    </div>
    {% endif %}

{% include 'betmodal.html' %}

  <script id="json-chart-data" type="application/json">
    {
      "bets_url": "{% url 'load_bets' %}",
      "results_url": "{% url 'results' %}"
    }
  </script>

  <script src="{% static 'js/frontpage.js' %}"></script>

  <script>

  </script>

{% endblock content %}
