{% extends '_base.html'%}
{% load static %}

{% block content %}
  <div
    class="card-header"
    style="border: 1px solid #333; display: flex; flex-flow: row nowrap; justify-content: space-between">
    <a
      class="btn btn-small"
      href="{% url 'frontpage' %}?date={{ previous }}">
      <img
        src="{% static 'img/back.png' %}"
        style="display:inline"
        height=20
        class="float-left"
        alt="back-icon">
    </a>
    <span
      id="date_header"
      class="text-center"
      style="font-size: 1.6em; margin:auto; font-style: italic; font-weight: bold">
      {{ date_header }}
    </span>
    {% if next_day_scheduled %}
    <a
      class="btn btn-small"
      href="{% url 'frontpage' %}?date={{ next }}">
      <img
        src="{% static 'img/forward.png' %}"
        style="display:inline"
        height=20
        class="float-left"
        alt="forward-icon">
    </a>
    {% else %}
    <a
      class="btn btn-small disabled"
      href="{% url 'frontpage' %}?date={{ next }}">
      <img
        src="{% static 'img/forward.png' %}"
        style="display:inline"
        height=20
        class="float-left"
        alt="forward-icon">
    </a>
    {% endif %}
  </div>
  {% if charts|length %}
    <div id= "charts-holder" class="select-holder" style="text-align: center;">
      <select
        class="form-control frontpage-select"
        id="chart-select"
        style="margin: 0"
        onchange="load_bets()">
        {% for chart in charts %}
          <option value="{{ chart.uuid }}">
            <span >
              {{ chart.program.venue.kiosk_name }}_{{ chart.kiosk_time }}
            </span>
          </option>
        {% endfor %}
      </select>
    </div>
    <table
    class="table table-sm table-borderless"
    style="background-color:inherit;"
    id="bets_table">
    <tbody id="bets" style="max-height: 50%;">

    </tbody>


  </table>


  {% else %}
  <div style="text-align: center; padding: 50px">
  No Charts Found
  </div>
  {% endif %}



  {% include 'betmodal.html' %}

  <script id="json-chart-data" type="application/json">
    {
      "bets_url": "{% url 'load_bets' %}",
      "results_url": "{% url 'results' %}",
      "daily_bets_url": "{% url 'get_daily_bets' %}",
      "make_bets_url": "{% url 'make_bet' %}"
    }
  </script>


  <script>
    const text_content = document.getElementById("json-chart-data").textContent
    const chart_json_data = JSON.parse(text_content)

    const chart_select = document.getElementById("chart-select")

    load_bets = () => {
      console.log("load bets()")
      if (chart_select) {
        console.log(chart_select)
        chart_id = chart_select.value
        console.log(chart_id)
        console.log(chart_json_data["bets_url"])
        $.ajax({
          url: chart_json_data["bets_url"],
          dataType: "json",
          data: {
            "chart_id": chart_id,
          },
          success: function(data) {
            console.log("success")
            console.log(data)
            // $("#bets").html(data)
          }
        })
      }
    }

    load_bets()

    const modal = document.getElementById("bet-modal")



    modal.addEventListener("focus", function (e) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var participant_bets = document.getElementById("participant_bets")
      var dog = button.data('dog')
      var bets = button.data('bets')
      var post = button.data('post')
      var venue = button.data('venue')
      var chart = button.data('chart')
      var number = button.data('number')
      var participant = button.data('participant')
      var modal = $(this)
      modal.find('.modal-subtitle').text(
        post + " | " +
        dog + " "
      )
      modal.find('.modal-title').text(
        venue + " " +
        chart + " Race " +
        number
      )
      modal.find('#participant_uuid').text(
        participant
      )
      $('select option[value=' + bets).prop('selected',true);
    })

    window.onload = (event) => {
      const text_content = document.getElementById("json-chart-data").textContent
      const chart_json_data = JSON.parse(text_content)







    };


  </script>
  {% endblock content %}
