{% extends '_base.html'%}

{% block content %}





  <div class="card-header" style="border: 1px solid #333; ">
    <b><i><span id="date_header" class= "text-center" style="font-size: 1.6em;">{{ date_header }}
</span></i></b>
    <!-- <label for="your_name">Select Date: </label> -->
    <span class="float-right" style="height: 25px; padding-top:3px">
      <input
        id="target_date"
        type="date"
        data-date="{{ datestring }}"
        name="date"
        onchange="handler(event);"
        class="btn-outline-light"
        value="date"
        style="padding-top: 3px; border: none ">
    </span>
    </div>
    <div id="bet_container">

    {{ charts }}


    </div>
    {% if charts|length %}
    <div class="select-holder">
      <select
        class="form-control frontpage-select"
        id="chart-select">
        {% for chart in charts %}
          <option value="{{ chart.uuid }}">
            <span >
              {{ chart.program.venue.kiosk_name }}_{{ chart.kiosk_time }}
            </span>
          </option>
        {% endfor %}
      </select>
    </div>
    <div style="height: 65vh; overflow-y:scroll;">
      <table
      id="bets_table"
      class="table table-sm table-borderless" >
      <tbody id="bets" style="max-height: 100%"></tbody>
    </table>
  </div>
    {% else %}
    <div style="text-align: center; padding: 50px">
    No Charts Found
    </div>
    {% endif %}

{% include 'betmodal.html' %}

  <script id="json-chart-data" type="application/json">
    {
      "bets_url": "{% url 'load_bets' %}",
      "results_url": "{% url 'frontpage' %}"
    }
  </script>


  <script>
    text_content = document.getElementById("json-chart-data").textContent
    chart_json_data = JSON.parse(text_content)
    const input = document.getElementById("target_date")
    console.log(input.getAttribute("data-date"))
    input.value = input.getAttribute("data-date")

    function handler(e) {
      window.location = chart_json_data["results_url"] + "?date=" + e.target.value
    }
  </script>

<script>
  chart_select = document.getElementById("chart-select")
  modal = document.getElementById("bet-modal")
  modal.addEventListener("focus", function (e) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var participant_bets = document.getElementById("participant_bets")
    var dog = button.data('dog')
    var bets = button.data('bets')
    var post = button.data('post')
    var venue = button.data('venue')
    var chart = button.data('chart')
    var number = button.data('number')
    var participant = button.data('participant')
    var modal = $(this)
    modal.find('.modal-subtitle').text(
      post + " | " +
      dog + " "
    )
    modal.find('.modal-title').text(
      venue + " " +
      chart + " Race " +
      number
    )
    modal.find('#participant_uuid').text(
      participant
    )
    $('select option[value=' + bets).prop('selected',true);
  })
  text_content = document.getElementById("json-chart-data").textContent
  chart_json_data = JSON.parse(text_content)

  load_bets = () => {
      const chart_id = chart_select.value
      $.ajax({
        url: chart_json_data["bets_url"],
        dataType: "html",
        data: {
          "chart_id": chart_id,
        },
        success: function(data) {
          $("#bets").html(data)
        }
      })
    }
  window.onload = (event) => {
    load_bets()

  };
  chart_select.addEventListener("change", load_bets)

</script>
{% endblock content %}
