<table class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th>Predictions</th>
      <th>Bets</th>
      <th>Profit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Win</th>
      <td>5/10 (50%)</td>
      <td></td>
      <td>($2.00)</td>
    </tr>
    <tr>
      <th>Place</th>
      <td>5/10 (50%)</td>
      <td></td>
      <td>($2.00)</td>
    </tr>
    <tr>
      <th>Show</th>
      <td>5/10 (50%)</td>
      <td></td>
      <td>($2.00)</td>
    </tr>
    <tr>
      <th>Total</th>
      <th>5/10 (50%)</th>
      <td></td>
      <th>($2.00)</th>
    </tr>
  </tbody>
</table>
