
  {% for race in races %}
    <tr>
      <td width="25%" style="text-align: center; vertical-align: middle;">
          <span style="font-size: 2em">{{ race.number }}</span><br>
      </td>
      <td>
        {% for participant in race.participant_set.all %}
          {% if participant.prediction %}
          <span style="margin: 3px; padding: 1px 3px;">
            {{ participant.post }}  {{ participant.dog.name }}</span>

          <span class="float-right">

            {{ participant.prediction.smo|floatformat:2 }}
          </span>
          {% else %}
          <span style="margin: 3px; padding: 1px 3px; color: #555">
            {{ participant.post }}  {{ participant.dog.name }}</span>
          {% endif %}
          <br>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
