<tr>
  <td width="20vw" style="text-align: center; vertical-align: middle; border-right: 1px solid #444">
      <span style="font-size: 2em">{{ race.number }}</span><br>
      Grade {{ race.grade.name }}
  </td>
  <td>
      <table
        class="table table-sm table-borderless"
        style="background-color:inherit;" >
        {% for participant in race.participant_set.all %}
        <tr class="prediction-row">
          {% if participant.prediction.get_bets %}
          <td style="border: none; vertical-align: middle; font-size:1.25em" width="40vw">
            <b>{{ participant.post }}</b>
            <span>{{ participant.dog.name }}</span></td>
          <td width="10vw" style="border: none; float-right; padding-right:5px">
            <button
              class="btn btn-sm btn-outline-success float-right"
              disabled>
              <span id="participant_bets" style="font-weight:bold">
                ddd
              </span>
            </button>
          </td>
          <td width="10vw" style="border: none; float-right; padding-right:5px">
            <button
              class="btn btn-sm btn-outline-success"
              disabled>
              <span id="participant_bets" style="font-weight:bold">
                ddd
              </span>
            </button>
          </td>
          <td width="10vw" style="border: none; float-right; padding-right:5px">
            <button
              class="btn btn-sm btn-outline-success"
              disabled>
              <span id="participant_bets" style="font-weight:bold">
                ddd
              </span>
            </button>
          </td>
          <td width="10vw" style="border: none; float-right; padding-right:5px">
            <button
              class="btn btn-sm btn-outline-success"
              disabled>
              <span id="participant_bets" style="font-weight:bold">
                ddd
              </span>
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
  </td>
</tr>
