
  {% for race in races %}
    <tr>
      <td width="25%" style="text-align: center; vertical-align: middle;">
          <span style="font-size: 2em">{{ race.number }}</span><br>
      </td>
      <td>
          <table class="table table-sm table-borderless" style="background-color:inherit">
            {% for participant in race.participant_set.all %}
            <tr class="prediction-row" style="width:100%">
              {% if not participant.prediction %}
              <td style="border: none" width=90%>{{ participant.post }}  {{ participant.dog.name }}</td>
              <td style="border: none; float-right">
                {{ participant.prediction.smo|floatformat:2 }}
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
      </td>
    </tr>
  {% endfor %}
