{% load static %}


<nav class="navbar navbar-dark">
  {% if user.is_authenticated %}
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="pull-right">
    <span id="username-span">
      {{ user.username }}
    </span>
    <a
      class="navbar-brand"
      href="{% url 'frontpage' %}">
      <img
        id="navbar-logo"
        src="{% static 'img/bootstrap-logo.png' %}"
        height="30"
        class="pull-right"
        alt="Cashdog Logo">
    </a>
  {% endif %}
  </div>
</nav>
<div
  class="collapse"
  id="navbarToggleExternalContent">
  <div class="p-1">
    <h5>
      <a
        href="https://m.trackinfo.com/index.jsp?next=tracks&showdate=todays"
        target="_blank"
        class="dropdown-item">
        TrackInfo
      </a>
      <a
        href="https://www.offtrackbetting.com/results/greyhound-racing.html"
        target="_blank"
        class="dropdown-item">
        OffTrackBetting
      </a>
      <a
        class="dropdown-item"
        href="{% url 'logout' %}">
        Logout
      </a>
    </h5>
  </div>
</div>
