{% load static %}
  <div class="pos-f-t">
    <nav class="navbar navbar-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="pull-right">
        {% if user.is_authenticated %}

        <span
          class="btn dropdown-toggle"
          style="padding:2px 10px; color:#CCC"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <b>{{ user.username }}</b>
        </span>
        <div
          class="dropdown-menu dropdown-menu-right"
          style=" margin-right:95px;"
          aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <span style="vertical-align:middle">
          <a href="{% url 'two_factor:login' %}">login</a>
        </span>
        {% endif %}
        {% if user.is_authenticated %}
        <a
          class="navbar-brand"
          href="{% url 'frontpage' %}"
          style="margin-left: 10px">
  
        </a>
        {% endif %}
      </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>

  </div>
