{% extends 'base_modal.html' %}

{% block subtitle %}
  <span class="modal-subtitle">Lorem Ipsum</span>
{% endblock subtitle %}

{% block select_bet %}
  <select
    name="bet_type"
    id="exotic_bet_types"
    class="modal-select modal-bet-selector pull-right" style="text-align:center">
    <option value="Q">Quiniela</option>
    <option value="E">Exacta</option>
    <option value="T">Trifecta</option>
    <option value="S">Superfecta</option>
  </select>
{% endblock select_bet %}


{% block post_select %}
<div class="btn-group" style="width: 100%" role="group">
  <button
    type="button"
    value="1"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    1
  </button>
  <button
    type="button"
    value="2"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    2
  </button>
  <button
    type="button"
    value="3"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    3
  </button>
  <button
    type="button"
    value="4"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    4
  </button>
</div>

<div class="btn-group" style="width: 100%" role="group">
  <button
    type="button"
    value="5"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    5
  </button>
  <button
    type="button"
    value="6"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    6
  </button>
  <button
    type="button"
    value="7"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    7
  </button>
  <button
    type="button"
    value="8"
    style="margin: 5px;"
    class="btn btn-outline-primary exotic-post-select"
    data-toggle="button"
    aria-pressed="false"
    autocomplete="off">
    8
  </button>
</div>
{% endblock post_select %}

{% block finish_order %}
<div id="finish-order-div" style="visibility: hidden; margin: 20px">
  <h2><span class="float-left">Finish Order:</span> <span id="finish-order"></span></h2>
</div>
{% endblock finish_order %}
