{% extends 'bet_table_row.html' %}

{% block prediction_button %}
  <button
    type="button"
    class="btn btn-outline-success btn-block btn-sm bet-button"
    data-toggle="modal"
    data-target="#bet-modal"
    data-dog="{{ participant.dog.name }}"
    data-post="{{ participant.post }}"
    data-venue="{{ participant.race.chart.program.venue.name }}"
    data-chart="{{ participant.race.chart.get_time_display }}"
    data-number="{{ participant.race.number }}"
    data-participant="{{ participant.uuid }}"
    data-bets="{{ participant.prediction.get_bets }}">
    <span id="participant_bets">
      {{ participant.get_recommended_bet }}
    </span>
  </button>
{% endblock prediction_button %}

{% block win_button %}
<button
  class="btn btn-sm btn-block btn-outline-light"
  disabled>
  {{ participant.get_win_bet.amount }}
</button>
{% endblock win_button %}

{% block place_button %}
<button
  class="btn btn-sm btn-block btn-outline-light"
  disabled>
  {{ participant.get_place_bet.amount }}
</button>
{% endblock place_button %}

{% block show_button %}
<button
  class="btn btn-sm btn-block btn-outline-light"
  disabled>
  {{ participant.get_show_bet.amount }}
</button>
{% endblock show_button %}
