{% load static %}

<div
  class="modal fade"
  id="straight-bet-modal"
  tabindex="-1"
  role="dialog"">
  <div
    class="modal-dialog"
    role="document">
    <div
      class="modal-content"
      style="background-color: #111">
      {% include 'modal_components/header.html' %}
      <span class="modal-subtitle"></span>
      <div>
        <span id="participant_uuid"></span>
        <form
          action="{% url 'make_bet' %}"
          method="post"
          id="modal-form">
          <div
            id="straight-select-container"
            class="modal-select-container">
            <select
              name="bet_type"
              id="bet_types"
              class="modal-select modal-bet-selector pull-right">
              <option id="bet_type_W"value="W">WIN</option>
              <option id="bet_type_P"value="P">PLC</option>
              <option id="bet_type_S"value="S">SHW</option>
              <option id="bet_type_WP"value="WP">WP</option>
              <option id="bet_type_WPS"value="WPS">WPS</option>
              <option id="bet_type_PS"value="PS">PS</option>
            </select>
            {% include 'modal_components/bet_amount.html' %}
          </div>
          </form>
          {% include 'modal_components/footer.html' %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/straight_modal.js' %}"></script>
