{% extends '_base.html' %}
{% load static %}
{% block content %}

  <table class="table table-borderless">
    <tr>
      <th>{{ venue }}</th>
      <td>Predictions</td>
    </tr>
    {% for venue in venues %}

      <tr>
        <th>{{ venue }}</th>
        <td>
          <div class="form-check form-switch">
            {% if venue.is_focused %}
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
                checked>
            {% else %}
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault">
            {% endif %}
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
<script>
  const checkboxes = document.getElementsByClassName("form-check-input")
  for (let i =0; i<checkboxes.length; i++) {
    checkboxes[i].addEventListener('change', function() {
      // this will contain a reference to the checkbox
      if (this.checked) {

          // the checkbox is now checked
      } else {

          // the checkbox is now no longer checked
      }
  })
  }
</script>

{% endblock content %}
