{% extends '_base.html' %}

{% block content %}
<div class="card">
  <div class="card-header card-header-standout">
  Reset password</div>
  <div class="card-body" style="padding: 0px">
  <form method="post" style="margin: 40px 10px">
    {% csrf_token %}<input name="user" value="{{ user }}">
    {% if form.errors %}
      {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{field.label}}: </strong> {{ error|escape }}
              </div>
           {% endfor %}
      {% endfor %}
    {% endif %}

    <p><label for="id_old_password">Old password:</label> <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password"></p>
    <p><label for="id_new_password1">New password:</label> <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> <span class="helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul><p></p>
    <p><label for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"></p>

    <br>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </form>
  </div>
{% endblock %}
